/* header section style */
header{
    background-color:rgba(229, 84, 115, 0.10);
    width: 1920px;
height: 850px;
display: flex;
gap: 50px;
}
.header-img{
 margin-top: 50px;
}

.header-title{
    color: #272727;
font-family: Lato;
font-size: 80px;
font-weight: 800;
width: 708px;
height: 288px;
padding-top: 150px;
padding-left: 240px;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
width: 635px;
padding-left: 240px;
padding-top: ;
}
.btn-primary{
    border-radius: 8px;
background: #E55473;
padding: 20px 45px;
color: #FFF;
font-size: 20px;
font-weight: 700;
margin-left: 240px;
margin-top: 10px;
}
/* main section style */

.section1-title{
    color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
margin-top: 175px;
}
.section1-describtion{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
text-align: center;
width: 600px;
padding-left: 640px;
}
/* section2 style */
.section2-content{
    display: flex;
    gap: 150px;
    margin-left: 100px;
    margin-top: 90px;
}
.section2-1stimg{
    background-color:rgba(167, 33, 98, 0.15);
    padding: 110px 78px 0 76px;
    border-radius: 300px 300px 0px 0px;
    
}
.section2-2ndimg{
    padding: 117px 47px 51px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}
.section2-3rdimg{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 67px 75px 0;
}
.flower-title{
    text-align: center;
    font-size: 24px;
font-style: normal;
font-weight: 700;
}
/* section3 style */
.section3{
    width: 1922px;
height: 620px;
border-radius: 8px;
background: rgba(229, 84, 115, 0.05);
margin-top: 200px;
}
.section3-content{
    display: flex;
    gap: 100px;
    padding-left: 300px;
    padding-top: 100px;
}
.section3-1stdiv{
    padding-top: 150px;
   padding-left: 100px
}
.section3-title{
    color: #272727;
font-size: 40px;
font-weight: 800;
}
.section3-title-spelling{
    color: #E55473;
}
.section3-describtion{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 595px;
}
/* section4 style */
.section4-content{
    text-align: center;
    margin-top: 100px;
}
.section4-describtion{
    color: rgba(39, 39, 39, 0.60);
font-size: 18px;
font-weight: 400;
width: 594px;
padding-left: 640px;
}
.section4-2nddiv{
   display: flex;
   gap: 40px;
   padding-left: 230px;
   padding-top: 40px;
}
/* section5 style */
.section5{
    background-position: ;
    background-repeat: no-repeat;
    margin: 100px 250px;
    width: 1440px;
height: 449px;
    background-image:url('../FlowerAsset/Rectangle\ 9.png')
}
.section5-content{
   text-align: center;
   padding-top: 100px;
}
.section5-input{
    width: 700px;
height: 64px;
border-radius: 8px;
background: #FFF;
border: none;
padding-left: 20px;
}
.section5-2nddiv{
   gap: 
}
.footer{
    text-align: center;
    color: #FFF;
    background-color: black;
    height: 400px;
    padding-top: 200px;
}
.flower{
    color: #E55473;
}
.footer-describtion{
    color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
width: 630px;
padding-left: 630px;
}
.footer-last-describtion{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
font-weight: 400;
}